$white:                 #FFFFFF !default;
$dark:                  #060606 !default;
$gray:                  #888888 !default;
$dark-gray:             #222222 !default;
$brand-red:             #CC0000 !default;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Russo+One");


body {
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: $gray;
    background-color: $dark;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;      
}

h3 {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 3px;      
}

.project-img {
  margin-right:4px;
  margin-bottom:2px;

}
.panel {
    margin-bottom: 20px;
    background-color: $dark-gray;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .picture_content {
      padding:0px;
      margin-top:5px;
      margin-bottom:5px;
      border:1px solid #333333;
      width:100%;
    }
}

.navbar {
    margin-bottom: 20px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #282828 !important;
}

.navbar-default {
  background-color: $dark;
  border-color: transparent;

  .navbar-brand {
    color: $white;
    padding-top:13px;
    &:hover {
      color: white;
      background-color: transparent;
    }
    &:focus {
      color: $brand-red;
      background-color: transparent;
    }
  }

  .navbar-nav {
    > li {
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      > a {
        color: #888888;
        &:hover {
          color: red;
          text-decoration:underline;
          background-color: transparent;
        }
        &:focus {
          color: $white;
          text-decoration:underline;
          background-color: transparent;
        }
      }
    }
    > .active {
      > a {
        color: $white;
        background-color: transparent;
        &:hover {
          color: red;
          background-color: transparent;
        } &:focus {
          color: $white;
          background-color: transparent;
        }
      }
    }    
  }

}

a.link_red {
  color: red;
  &:visited {
    color: red;
  }
  &:active {
    color:  red;
  }
  &:hover {
    color: #FF6666;
  }
}


.error {
  color: #FF0000;
  font-weight:normal;

}

.modal {
  &-content {
    position: relative;
    background-color: #545454;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    color:white;
  }
}

.margin_t20 {
  margin-top:20px;
}


.btn-sort { 
  color: #ffffff; 
  background-color: #BD1B3B; 
  border-color: #690240; 
  &:hover, 
  &:focus, 
  &:active {
    color: #ffffff; 
 } 
} 
 
 
.btn-sort .badge { 
  color: #BD1B3B; 
  background-color: #ffffff; 
}