$gray:                  #464545 !default;
$brand-primary:         #375a7f !default;
$brand-success:         #00bc8c !default;
$brand-info:            #3498DB !default;
$brand-warning:         #F39C12 !default;
$brand-danger:          #E74C3C !default;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #888888;
    background-color: #060606;
}

.panel {
    margin-bottom: 20px;
    background-color: #222222;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .picture_content {
      padding:0px;
      margin:5px;
      border:1px solid #333333;
    }
}

.navbar {
    margin-bottom: 20px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #282828 !important;
}

.navbar-default {
  background-color: #060606;
  border-color: transparent;

  .navbar-brand {
    color: #ffffff;
    &:hover {
      color: #00bc8c;
      background-color: transparent;
    }
    &:focus {
      color: #00bc8c;
      background-color: transparent;
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: #888888;
        &:hover {
          color: #ffffff;
          text-decoration:underline;
          background-color: transparent;
        }
        &:focus {
          color: #ffffff;
          text-decoration:underline;
          background-color: transparent;
        }
      }
    }
    > .active {
      > a {
        color: #ffffff;
        background-color: transparent;
        &:hover {
          color: #ffffff;
          background-color: transparent;
        } &:focus {
          color: #ffffff;
          background-color: transparent;
        }
      }
    }    
  }




 
}




.div1 {
  border:1px solid red;
}

.div1 .div2 {
  border:1px solid green;
}

.div3 {
  border:1px solid blue;
}


