// predefined colors for SASS
// very usefull. One change - changes automatically everywhere

$white:                 #FFFFFF !default;
$dark:                  #060606 !default;
$gray:                  #888888 !default;
$dark-gray:             #222222 !default;
$light-gray:            #AAAAAA !default;
$brand-red:             #CC0000 !default;
$light-red:             #FF2A2A !default;

// additional fonts for my project
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Russo+One");


// this override bootstrap CSS definitions
body {
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: $gray;
    background-color: $dark;
}

// all images inside content have border-radius = 5px
img {
  border-radius: 5px;
  border: 1px solid black;
  width:100%;
}

// this frame is for twitter news/has to be 100% for every screen/column
iframe {
  width:100%;
}


// h1 different than bootstrap Russo One font and smaller
h1 {
  font-family: 'Russo One', sans-serif; // my font
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $light-gray;
}

// h2 different than bootstrap Russo One font and scss $light-gray color
h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;      
  color: $light-gray; // used here predefined color
}

// h3 different than bootstrap Russo One font and scss $light-gray color
h3 {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 3px;      
  color: $light-gray;
}

// small margin styling with project images
.project-img {
  margin-right:7px;
  margin-bottom:2px;
  width:33%;
}

// similar to bootstrap but dark background color in my case
.panel {
    margin-bottom: 20px;
    background-color: $dark-gray;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .picture_content {
      padding:0px;
      margin-top:5px;
      margin-bottom:5px;
      border:1px solid #333333;
      width:100%;
    }
}

// navbar similar to bootstrap but dark background color in my case
.navbar {
    margin-bottom: 20px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #282828 !important;
}

// definitons for navbar-default
.navbar-default {
  background-color: $dark;
  border-color: transparent;

  // definitions for logo and two words. Override bootstrap definitions
  .navbar-brand {
    color: $white;
    padding-top:13px;
    &:hover {
      color: white;
      background-color: transparent;
    }
    &:focus {
      color: $brand-red;
      background-color: transparent;
    }
    > img {
      width:20px;
      margin-right:10px;
      float:left
    }
  }

  // navbar nav, Override bootstrap definitions
  // I used this fancy sass feature: nesting!
  // You can see file before minification here:
  // http://andrea_assigment.alltic.home.pl/andrea_assigment/css/css_before_minification/mystyles.css
  .navbar-nav {
    > li {
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      > a {
        color: #888888;
        &:hover {
          color: $light-red;
          -webkit-transition: all 0.25s linear;
          transition: color 0.25s linear;
        }
        &:focus {
          color: $white;
          text-decoration:underline;
          background-color: transparent;
        }
      }
    }
    // active menu state has white color and hover as a red
    > .active {
      > a {
        color: $white;
        background-color: transparent;
        &:hover {
          color: $light-red;
          background-color: transparent;
        } &:focus {
          color: $white;
          background-color: transparent;
        }
      }
    }    
  }

}



// link_red definition for whole wwww
a.link_red {
  color: $light-red;
  &:visited {
    color: $light-red;
  }
  &:active {
    color:  $light-red;
  }
  &:hover {
    color: #FF6666;
  }
}

// it used this class in "contact" / validation
.error {
  color: #FF0000;
  font-weight:normal;
  -webkit-transition: all 0.25s linear;
  transition: color 0.25s linear;
}

// it used in contact validation to show notification
.modal {
  &-content {
    position: relative;
    background-color: #545454;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    color:white;
  }
}

// used sometimes to make more space beetwean sections
.margin_t20 {
  margin-top:20px;
}

// quick fix for small space somewhere
.margin_b10 {
  margin-bottom:10px;
}

// used during project sort functions
.btn-sort { 
  color: #ffffff; 
  background-color: #BD1B3B; 
  border-color: #690240; 
  &:hover, 
  &:focus, 
  &:active {
    color: #ffffff; 
  }
  .badge { // overriding bootstrap definitions
    color: #BD1B3B; 
    background-color: #ffffff; 
  }  
} 
 

// This is an example of CSS3 linear-gradient
// you can see result here: http://andrea_assigment.alltic.home.pl/andrea_assigment/projects.html
// dit_logo with gradient color

#dit_logo {
  font-size:1000%;
  font-weight: bold;
  background: -moz-linear-gradient(45deg, #ff0000 0%, #ff9e9f 50%, #ff0000 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(45deg, #ff0505 0%,#ff9e9f 51%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(135deg, #ff0505 0%,#ff9e9f 51%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color:transparent;
  -webkit-background-clip: text;
}


// table styling with nice header
// result here: http://andrea_assigment.alltic.home.pl/andrea_assigment/downloads.html
.datagrid table {
  
  // it this case (inside datagrid table) I need overwrite link_red what I defined before
  a.link_red {
    color: black;
    &:visited {
      color: black;
    }
    &:active {
      color:  black;
    }
    &:hover {
      color: white;
    }
  }

  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin-top:15px;
  td, .datagrid table th {
    background: #fb5d5d;
    padding: 3px 10px;
  }

  // thead table definitions with gradient color for background
  thead {
    th {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #FF0000) );
      background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
      // for IE compatibility
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
      background-color:#991821;
      padding-top:5px;
      padding-bottom:5px;
      color:#AAAAAA;
      font-size: 15px;
      padding-left:10px
    }
  }
  // tbody table definitions
  tbody {
    td {
      color: #000000;
      font-size: 14px;
      font-weight: normal;
    }
    .alt {
      td {
        background: #ff6f6f; color: #000000;
      }
    }
  }

}
